language: python
python:
  - 3.4
  - 3.5
  - 3.6

cache: pip

addons:
  apt:
    packages:
      - libssl-dev
      - python3-dev

before_install:
  - cat test-requirements.txt >> requirements.txt

script:
  - python -m pytest -s -vv
  - coala --non-interactive -V

notifications:
  email: false
