<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- <script type="text/javascript">// <![CDATA[
        function loading(){
            $("#loading").show();
            $("#content").hide();
            $("body").css("background-image", "url('/static/blobb.gif')");

        }
// ]]></script>

<script src="{{ url_for('static', filename='alert.js') }}"></script> !-->
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='only.css')}}"/>
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto">

<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon16.png') }}"/>
	<title>Hello from flask</title>
</head>
<body>
<span id = "animations " style = "display: block;" class>
<h1 class = "title" >Username-Availability-Checker</h1>
</span>
<a href="https://github.com/gyanl/username-availability-checker"><img style="position: absolute; top: 0; right: 0; border: 0; width : 149px; height : 149px;" src="{{url_for('static', filename='forkme@2x.png')}}"" alt="Fork me on GitHub"></a>
<div id = "content">
  <div id="card">

  		<img src="{{url_for('static', filename='cardbg.png')}}" width=100%>

    <div id="centered">
      <center>
      <div id="textualbk">username-availability-checker</div><p>
      <form action="." method="POST">
      <input type="text" name="text">
      <input type="submit" name="my-form" value="CHECK" >
      </center>
    </div>
  </div>
</div>

</body>
</html>
