<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript">// <![CDATA[
        function loading(){
            $("#loading").show();
            $("#content").hide();
            $("body").css("background-image", "url('/static/blobb.gif')");

        }
// ]]></script>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='only.css')}}"/>
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto:200">

	<title>Hello from flask</title>
</head>
<body>

	<div id="loading"></div>
	<div id = "content">
  <div id="card">
    <div id="centered">

    <h1>Enter username : </h1>
  <form action="." method="POST">
      <input type="text" name="text">
      <input type="submit" name="my-form" value="Send" onclick="loading();">
  </div>
  </div>
	</div>
</body>
</html>
