<!DOCTYPE html>
<html>
<head>

	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='only.css')}}"/>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

	<link rel="stylesheet" href="{{url_for('static', filename='font-awesome/css/font-awesome.min.css')}}"/>
	<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon16.png') }}"/>
	<title>Hello from flask</title>


	<script type="text/javascript"> 
		var sites = ["facebook.com", "twitter.com", "instagram.com", "github.com", "soundcloud.com"];
		var sites2 = ["facebook", "twitter", "instagram", "github", "soundcloud"];
		var num_sites = sites.length;

		function request_api (site) {
			$.ajax({
				dataType: "json",
				url:'http://127.0.0.1:5000/check/'+sites[site]+'/{{username}}',
				dataType: 'application/json',
				complete: function(data) {
					var code = JSON.parse(data.responseText).status
					if( code == '404' || code == '301')
						$("#"+sites2[site])[0].innerHTML= 'Available';
					else 
						$("#"+sites2[site])[0].innerHTML= 'Taken';
				}
			});
		}

		function async(fn, callback) {
			setTimeout(function() {
				fn();
				callback();
			},0);

		}
		//recursive calls 
		function async_loop(fn,i) {
			if(i == -1)
				return;
			else {
				fn(request_api(i),function() {});
				async_loop(fn,--i);
			}
		}
		function main() {
			async_loop(async,num_sites-1);
			
		}

	</script>
</head>

<body onload="main();">


	<div id="wrapper">

		<div id="header">
			<h1>{{username}} </h1><p>
		</div><!-- #header -->

		<div id="content">
			<div id="centered">
				<div id="textual">

					<p>	<i class="fa fa-facebook-official"></i> <span id='facebook'><i height = "50%"class="fa fa-cog fa-spin"></i></span></p>
					<p>	<i class="fa fa-instagram"></i>  <span id='instagram'><i class="fa fa-circle-o-notch fa-spin"></i></span></p>
					<p>	<i class="fa fa-github"></i> <span id='github'><i class="fa fa-circle-o-notch fa-spin"></i></span></p>
					<p>	<i class="fa fa-twitter"></i> <span id='twitter'><i class="fa fa-circle-o-notch fa-spin"></i></span></p>
					<p>	<i class="fa fa-soundcloud"></i> <span id='soundcloud'><i class="fa fa-circle-o-notch fa-spin"></i></span></p>
				</div>

			</div><!-- #content -->
		</div>

		<div id="footer">
			<div id="centered">
				<p>	Made by based Manu and material Gyan </p>
			</div>
		</div><!-- #footer -->

	</div><!-- #wrapper -->

</body>
</html>
