<!DOCTYPE html>
<html>
	<head>

		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto:200">
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='only.css')}}"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

		<title>Hello from flask</title>
	</head>
	
<body>

<div id="wrapper">

	<div id="header">
		<h1> {{username}} </h1><p>
	</div><!-- #header -->

	<div id="content">
		<div id="centered">
			<p>	<i class="fa fa-facebook-official"></i>  {{fr}}</p>
			<p>	<i class="fa fa-instagram"></i>  {{ir}}</p>
			<p>	<i class="fa fa-twitter"></i> {{tr}}</p>
		</div><!-- #content -->
	</div>

	<div id="footer">
		<p>	Made by Manvendra Singh and Gyan Lakhwani </p>
	</div><!-- #footer -->

</div><!-- #wrapper -->

</body>
</html>
