body {
	font-family: 'Roboto Light', sans;
background: #4b6cb7; /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #4b6cb7 , #182848); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #4b6cb7 , #182848); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}



a, h1, h2{
	color: #ffffff;
}

h1{
	font-family: 'Roboto Bold', serif;
	margin: 0;
}

#Page {
	top: 50%;
	transform: translateY(50%);
	text-align: left;
}


div#loading {
    width: 35px;
    height: 35px;
    display: none;
    background: url(/static/loading.gif) no-repeat;
    cursor: wait;
 }