body {
<<<<<<< HEAD:flask/static/mystyle.css
	font-family: 'Roboto', sans;
  font-weight: 200;
  color: white;
  background: linear-gradient(#4b6cb7 , #182848);
=======
	font-family: 'Roboto Light', sans;
background: #4b6cb7; /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #4b6cb7 , #182848); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #4b6cb7 , #182848); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

a, h1, h2{
	color: #ffffff;
>>>>>>> origin/master:flask/static/my-world.css
}

h1{
	font-family: 'Roboto', sans;
	margin: 0;
<<<<<<< HEAD:flask/static/mystyle.css
  color: #ffffff;
}

#Page {
	transform: translateY(50%);
  transform: translateX(50%);

	text-align: left;
  background-size: 100% 100%;
}

#fullpage {
  background: linear-gradient(#4b6cb7 , #182848); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
}
=======
}
>>>>>>> origin/master:flask/static/my-world.css
