html,
body {
  font-family: Roboto, sans;
  font-size: 24px;
  background: linear-gradient(#efefef, #eee);
  font-weight: 200;
  color: #fff;
  height: 100%;
  margin: 0;
  margin-bottom: 50px;
}

/* github svg hover effect */
.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

.helper {
  max-width: 80%;
  margin: auto;
  text-align: center;
}

.avatar {
  margin-left: 15px;
  display: inline-block;
  overflow: hidden;
  line-height: 1;
  vertical-align: middle;
  border-radius: 6px;
  height: 45px;
  width: 45px;
}

.card {
  display: inline-block;
  border-radius: 6px;
  position: relative;
  width: 230px;
  background-color: #fff;
  box-shadow: 0 2px 10px -6px rgba(0, 0, 0, 0.75);
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  margin: 6px;
}

.card:hover,
.card:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  font-size: 50%;
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 110%;
}

.tooltip .tooltiptext::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent black;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.fa-openhub {
  display: inline-block;
  height: 32px;
  width: 32px;
  background-image: url('https://i.imgur.com/dEtInmd.png');
  background-size: contain;
}

.fa-opensuse {
  display: inline-block;
  width: 36px;
  height: 36px;
  background-image: url('https://en.opensuse.org/images/9/92/Geeko-button.png');
  background-size: contain;
  filter: grayscale(100%) contrast(110%);
}

.fa-asciinema {
  display: inline-block;
  width: 36px;
  height: 36px;
  background-image: url('data:image/svg+xml; base64, PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDg2Ni4wMjU0MDM3ODQ0Mzg3IDg2Ni4wMjU0MDM3ODQ0Mzg3Ij4KICA8ZGVmcz4KICAgIDxtYXNrIGlkPSJzbWFsbC10cmlhbmdsZS1tYXNrIj4KICAgICAgPHJlY3Qgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0id2hpdGUiLz4KICAgICAgPHBvbHlnb24gcG9pbnRzPSI1MDguMDEyNzAxODkyMjE5MzUgNDMzLjAxMjcwMTg5MjIxOTM1LCAyMDguMDEyNzAxODkyMjE5NCAyNTkuODA3NjIxMTM1MzMxNiwgMjA4LjAxMjcwMTg5MjIxOTI3IDYwNi4yMTc3ODI2NDkxMDciIGZpbGw9ImJsYWNrIj48L3BvbHlnb24+CiAgICA8L21hc2s+CiAgPC9kZWZzPgogIDxwb2x5Z29uIHBvaW50cz0iODA4LjAxMjcwMTg5MjIxOTQgNDMzLjAxMjcwMTg5MjIxOTM1LCA1OC4wMTI3MDE4OTIyMTk0NyAtMS4xMzY4NjgzNzcyMTYxNjAzZS0xMywgNTguMDEyNzAxODkyMjE5MTMgODY2LjAyNTQwMzc4NDQzODYiIG1hc2s9InVybCgjc21hbGwtdHJpYW5nbGUtbWFzaykiIGZpbGw9IiNkNDAwMDAiPjwvcG9seWdvbj4KICA8cG9seWxpbmUgcG9pbnRzPSI0ODEuMjE3NzgyNjQ5MTA3MSAzMzMuMDEyNzAxODkyMjE5NCwgMTM0LjgwNzYyMTEzNTMzMTY2IDUzMy4wMTI3MDE4OTIyMTk0IiBzdHJva2U9IiNkNDAwMDAiIHN0cm9rZS13aWR0aD0iOTAiPjwvcG9seWxpbmU+Cjwvc3ZnPgo=');
  background-size: contain;
  filter: grayscale(100%) contrast(110%);
}

h1 {
  font-family: Roboto, sans;
  padding-left: 25px;
  color: #333;
}

#loading {
  width: 35px;
  height: 35px;
  display: none;
  background: url(/static/loading.gif) no-repeat;
  cursor: wait;
}

p {
  text-align: center;
  vertical-align: middle;
}

#wrapper {
  min-height: 100%;
  position: relative;
}

#header {
  padding: 10px;
}

#content {
  padding-bottom: 70px;
}

.footer {
  font-family: Roboto;
  font-weight: 200;
  background: #333;
  width: auto;
  right: 0;
  color: #fff;
  height: auto;
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  font-size: 14px;
  padding: 10px;
}

#card {
  position: relative;
  max-width: 600px;
  max-height: 400px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 2px 10px -4px rgba(0, 0, 0, 0.75);
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  margin: auto;
}

#card:hover,
#card:active {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
  -webkit-transform: scale(1.04);
  transform: scale(1.04);
}

#centered {
  position: relative;
}

input[type=submit],
button[type=submit] {
  color: #fff;
  text-align: center;
  font-size: 14px;
  background-color: #7b54c4;
  border: none;
  border-radius: 3px;
  box-shadow: 4px 4px 10px !important;
  margin-top: 16px;
  margin-bottom: 40px;
  padding: 6px 12px;
}

input[type=text] {
  font-size: 14px;
  border-top: 2px;
  border-left: 2px;
  border-right: 2px;
  color: #4b6cb7;
  border-bottom: 2px solid #6623cb;
}

input:focus,
textarea:focus,
button:focus {
  outline: none;
}

#textual {
  color: #333;
  font-size: 36px;
  text-align: left !important;
}

.textualbk {
  color: #182848;
  font-size: 36px;
  text-align: center;
}

.tip {
  color: #333;
  font-size: 12px;
}

img {
  border-radius: 9px 9px 0 0;
}

@media only screen and max-width 768px {
  .card {
    min-width: 340px;
  }

  .textualbk {
    color: #182848;
    font-size: 20px;
    text-align: center;
  }

  .helper {
    max-width: auto;
    align-items: center;
    margin-left: 20px;
  }

  #card {
    max-width: 340px;
  }
}

#usernames {
  max-width: 80%;
  margin: auto;
  text-align: center;
  color: black;
}
