<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color">
    <meta property="og:url"                content="https://username-check.herokuapp.com/">
    <meta property="og:type"               content="website">
    <meta property="og:title"              content="Username Availability Checker">
    <meta property="og:description"        content="Find a unique username for teh interwebz">
    <meta property="og:image"              content="fb-og.png">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto">

    <!-- imports from static folder -->
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
    <link rel="shortcut icon" type="image/png" href="favicon32.png"/>
    <script src="js/generate-usernames.js"></script>

    <title>Username Availability Checker</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-72356300-6"></script>

    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-72356300-6');
    </script>

</head>

<body>
    <span id = "animations " style = "display: block;" class>
        <h1 class = "title" >Username Availability Checker</h1>
    </span>

    <div id = "content">
        <div id="card">
            <img src="cardbg.png" width=100%>
            <br>
            <div id="centered">
                <center>
                    <div class="textualbk">
                        Enter username to check.
                    </div>
                    <form action="." method="POST">
                        <input type="text" name="text" pattern="[\w\.-]+" title="You may use: Alphanumeric[a-z][A-Z][0-9], underscore[ _ ] hypen[-] period[.]" required autofocus>
                        <button type="submit" name="my-form">CHECK</button>
                    </form>
                </center>
            </div>
        </div>
        <div id="usernames">
            <p class="textualbk">Need a username?</p>
            <form id="usernames-form">
                <label for="min_length">Min Length</label>
                <input type="number" min="4" max="14" id="min_length" value="6" required><br/>

                <label for="max_length">Max Length</label>
                <input type="number" min="4" max="40" id="max_length" value="12" required><br/>

                <label for="use_underscores">Underscores?</label>
                <input type="checkbox" id="use_underscores"><br/>

                <label for="amount">How many usernames?</label>
                <input type="number" id="amount" min="1" max="20" value="1" required><br/>

                <button type="submit">Generate usernames! </button>
            </form>

            <div id="username-results"></div>
        </div>
    </div>
    <div class="footer">
        Made with love in New Delhi.
    </div>
</body>
</html>
