<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta property="og:url"                content="https://username-check.herokuapp.com/" />
	<meta property="og:type"               content="website" />
	<meta property="og:title"              content="Username Availability Checker" />
	<meta property="og:description"        content="Find a unique username for teh interwebz" />
	<meta property="og:image"              content=""{{url_for('static', filename='fb-og.png')}}"" />

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto">

	<!-- imports from static folder -->
	<script src="{{ url_for('static', filename='alert.js') }}"></script> !-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='main.css')}}"/>
	<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon32.png') }}"/>

	<title>Welcome</title>
</head>

<body>
	<span id = "animations " style = "display: block;" class>
		<h1 class = "title" >Username Availability Checker</h1>
	</span>

	<div id = "content">
		<div id="card">
			<img src="{{url_for('static', filename='cardbg.png')}}" width=100%>
			<div id="centered">
				<center>
					<div class="textualbk">
						Enter username to check.
					</div>
					<form action="." method="POST">
						<input type="text" name="text" pattern="[\w\.-]+" title="You may use: Alphanumeric[a-z][A-Z][0-9], underscore[ _ ] hypen[-] period[.]" required>
						<button type="submit" name="my-form">CHECK</button>
					</form>
				</center>
			</div>
		</div>
	</div>
	<div class="footer">
		Made with love in New Delhi.
	</div>
</body>
</html>
